@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <a href="/Versao" class="btn btn-default">Versões</a>
        <a href="/Eventos" class="btn btn-default">Eventos</a>

    </div>
</div>
