@model Fiap.Persistencia.Final.Web.Model.EventosViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>EventosViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdEvento" />
        <div class="form-group">
            <label class="col-md-2 control-label">Versão</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.IdVersao, new SelectList(Model.ListaVersoes, "IdVersao", "Descricao", Model.IdVersao), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NomeEvento" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NomeEvento" class="form-control" />
                <span asp-validation-for="NomeEvento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DataEvento" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="date" asp-for="DataEvento" class="form-control" />
                <span asp-validation-for="DataEvento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Localizacao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Localizacao" class="form-control" />
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Observacao" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="IdVersao" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
